<div class="s-login">

    <div class="s-login_bg">

    </div>

    <div class="s-login_inner">
        <div class="s-login_logo">
            <img src="../../assets/img/login-page/login-logo.png" alt="">
        </div>
        <div class="s-login_buttons">
            <button class="sign-in">Sign In</button>
            <button class="sign-up">Sign Up</button>
        </div>
        <form class="s-login_form">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Password">
            
            <button type="submit" (click)="myNameIs()">Login</button>
        </form>
    </div>
    




</div>