@import "../../styles/_vars.scss";
@import "../../styles/grid";


.single-item{
  font-family: $main-font;
  margin-bottom: 100px;
  .bold{
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .big-font {
    text-transform: uppercase;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__background {
    width: 500px;
    height: 500px;
    overflow: hidden;
    float: right;
    position: relative;
    img {
      width: auto;
      height: 100%;
    }
  }
  &__description {
    width: 500px;
    color: #4a4a4a;
    margin-left: 40px;
    h2{
      font-size: 2em;
      margin-bottom: 20px;
      font-family: MyrReg, Arial, sans-serif;
    }
    p {
      font-size: 1.125em;
      margin-bottom: 30px;
    }
  }
  &__price {
    .green{
      color: $second-color;
    }
    .blue{
      color: $main-color;
    }
    .big-font {
      font-size: 2em;
    }
  }
  &__roster{
    margin-bottom: 30px;
    li:nth-child(2),
    li:last-child{
      margin-left: 30px;

    }
  }
  &__list {
    li:last-child{
      margin-top: 30px;
    }
  }

}




@import "../../styles/_media.scss";
