 <div class="single-item">
        <div class="container">
            <div class="row single-item__inner">
                <div class="col-md-6">
                    <div class="single-item__background">
                        <!--Начало слайдера-->
                       <sellit-slider class="slider"></sellit-slider>
                        <!--Конец слайдера-->
                    </div>


                </div>
                <div class="col-md-6 single-item__description">
                    <h2></h2>
                    <p class="single-item__price bold">{{this.title}} <span class="blue">Alis Kim</span><span class="green big-font">{{this.price}}$</span></p>
                    <p>Some description text from WYSIWYG editor</p>
                    <p>Can be<span class="bold big-font"> bold</span><span class="italic"> Italic</span></p>
                    <ul class="single-item__roster bold">
                        <li>Can have  list:</li>
                        <li>- first</li>
                        <li>- second</li>
                    </ul>
                    <p class="single-item__anything bold">And anything from WYSIWYG editor</p>
                    <ul class="single-item__list">
                        <li class="bold">Some line</li>
                        <li>Some line</li>
                        <li class="italic">Some line</li>
                        <li class="bold">Finished on this line.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
