<div class="chat-wrapper">
    <div class="chat-wrapper_head">
        <h4>Chat <span>with</span> <span class="chat-wrapper_hname">Alis Kim</span></h4>
        <div class="poin-online"></div>
    </div>
    <div class="chat-wrapper_body">
        <div class="chat-wrapper_messages">
            <div class="chat-wrapper_message">
                <div class="chat-wrapper_message--done"><img src="../../../assets/img/user2-img.jpg" alt=""><span>One line chat message</span></div>
                <div class="chat-wrapper_message--done"><img src="../../../assets/img/user-img.jpg" alt=""><span>Multi line chat message. Some text for multi line message. What is your name. Oh sorry. My bad, your name
                    I think Alis. Right? Please send me your contacts. May be your facebook page or some think alse. How
                    much cost this t shirt? </span></div>
            </div>
            <input type="text" placeholder="Type some text here">
        </div>
        <div class="chat-wrapper_connects">
            <h4>Connected</h4>
            <ul>
                <li>
                    <img src="../../../assets/img/user2-img.jpg" alt="">
                    <span>Alisa Merl</span>
                </li>
                <li>
                    <img src="../../../assets/img/user-img.jpg" alt="">
                    <span>Kim Evans</span>
                </li>
                <li>
                    <img src="../../../assets/img/user2-img.jpg" alt="">
                    <span>Alisa Merl</span>
                </li>
                <li>
                    <img src="../../../assets/img/user-img.jpg" alt="">
                    <span>Kim Evans</span>
                </li>
            </ul>
        </div>
    </div>



</div>