 <div ></div>


<div class="header" >
    <div class="header-container">

        <div class="logo">
            <a routerLink="" [innerHTML]="mainLogo | safe:'html'">              
  
            </a>
        </div>

        <sellit-search></sellit-search>
        
        <button class="user-button">

            <div *ngIf="loggedInUser" (click)="logout()" class="user-button_inner">
                <div class="user-button__img">
                   

                    <img src='{{currentOnline?.avatarProfile}}' alt="">
                    

                </div>

                <div (click)="logout()" class="user-button__name" >
                    {{currentOnline?.email}}
                </div>
                <div class="user-button__in">
                    <i class="fa fa-sign-out fa"></i>
                </div>
            </div>
            
            <div *ngIf="!loggedInUser"  routerLink="/sellit-login-page" class="user-button_outer">
               
                <div  class="user-button__name" >
                    Get profit here {{svg}}
                </div>
                <div class="user-button__in">
                <i class="fa fa-sign-in fa"></i>
            </div>
            </div>

                        
            <div class="user-button__sub" >
                <div class="user-button__new-post" routerLink="/sellit-add-post">
                    <span>Add new post</span>
                </div>
                
                <div class="user-button__profile" (click)='openDialogBox()'>Profile</div>
                <!--<div openButton class="user-button__profile">
                    <span>Profile</span>
                </div>-->
            </div>

        </button>
    </div>
    <div profileAnchor></div>
    <!--<sellit-profile id="sellit-profile"></sellit-profile>-->
    <!--<div id="profile-overlay" (click)="onClickedExit()" class="profile-overlay"></div>-->
</div>