<div class="header">
    <div class="header-container">

        <div class="logo">
            <a routerLink=""><img class="logo__img" src="../../../assets/img/logo_main.png" alt="Логотип SellIt"></a>
        </div>
        <form class="search-form">
            <button class="search-form__find">
                <i class="fa fa-search fa"></i>
            </button>
            <input class="search-form__input" placeholder="Try find something">
        </form>
        <button (click)="logout()">delete</button>
        <button (click)="clickUser()">proverka</button>
        <button class="user-button">

            <div class="user-button_inner" routerLink="sellit-login-page" *ngIf="loggedInUser">
                <div class="user-button__img">
                    <img src="../../../assets/img/user-img.jpg" alt="Аватарка">
                </div>

                <div (click)="logout()" class="user-button__name" >
                    {{currentUser?.email}}
                </div>
                <div class="user-button__in">
                    <i class="fa fa-sign-out fa"></i>
                </div>
            </div>
            
            <div routerLink="sellit-login-page" class="user-button_outer" *ngIf="!loggedInUser">
               
                <div  class="user-button__name" >
                    Get profit here
                </div>
                <div class="user-button__in">
                <i class="fa fa-sign-in fa"></i>
            </div>
            </div>

            <!--<div  class="user-button__name" >
                Войти
            </div>-->

            
            <div class="user-button__sub" >
                <div class="user-button__new-post" routerLink="/sellit-add-post">
                    <span>Add new post</span>
                </div>
                <div openButton class="user-button__profile">
                    <span>Profile</span>
                </div>
            </div>

        </button>
    </div>
    <sellit-profile></sellit-profile>
</div>