@import "vars";


/*==========  Desktop First  ==========*/


@media only screen and (max-width : 1400px) {
  product-item {
      width: 23%;
      height: 220px;
      margin: 0 1% 10px 1%;
      &:nth-child(4n+1){
        margin-left: 1%
      }
    }
 

  .s-login_bg {
      background-size: auto 100%;
      margin-left: -80px;

  }

  
 .add-post {
    width: 70%;
  }


}






/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  .header {
      &-find {
        width: 20%;
        margin-left: 5%;
      }    
  }


  .s-content {
    product-item {
      height: 180px;
    }
  }
  .single-item__background,
  .single-item__description {
    width: 400px;
    height: 400px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    height: 400px;
  }
  ngb-carousel.carousel div.carousel-inner {
    height: 400px;
  }
  .single-item__description {
    margin-left: 30px;
  }
 

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .header {
    .search-form {
      width: 150px;
      margin-left: 35px;
      &__find {
        width: 20%
      }
      &__input {
        width: 80%;
      }
    }

  }

  .s-content {
    product-item {
      width: 23%;
      height: 160px;
      margin: 0 1% 10px 1%;
      &:nth-child(4n+1){
        margin-left: 1%
      }
    }
  }

  .single-item__background,
  .single-item__description {
    width: 300px;
    height: 300px;
  }  
  .carousel-control-next,
  .carousel-control-prev,
  ngb-carousel.carousel div.carousel-inner {
    height: 300px;
  }

  .single-item {
      .single-item__description {
        
        &>h2 {
          font-size: 1.250em;
        }
        p {
          font-size: 1em;
        }
      }
  }

  .add-post_add-button {
    height: 2.225em;
  }
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header {
    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .logo {
      margin-right: 60px;
    }

    &-find {
      order: 3;
      flex-grow: 1;
      margin-left: 0;
      width: 100%;
      input {
        padding-left: 10px;
      }
    }
    sellit-search {
      order: 3;
      width: 100%;
    }
    .user-button__sub {
      height: 84px;
      bottom: -84px;
    }


    .user-button__new-post,
    .user-button__profile {
      display: block;
      float: none;
      width: 100%;
      &:hover {
        background-color: #13C3CB;
      }
      &:active {
        background-color: #13C3CB;
      }
    }

  }
  .s-content {
    product-item {
      width: 23%;
      height: 135px;
      margin: 0 1% 10px 1%;
      &:nth-child(4n+1){
        margin-left: 1%
      }
      span {
        font-size: 0.775em;
        margin-left: 5px;
      }
      i {
        font-size: 1em;
      }
    }
  }

  .single-item {
    margin-top: 30px;
    .single-item__description {
      &>h2 {
        font-size: 1.250em;
      }
      p {
        font-size: 1em;
      }
    }
  }



  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }

  div.s-login_inner {
    width: 100%;
  }

  .single-item__background,
  .single-item__description {
    width: 260px;
    height: 260px;
  }  
  .carousel-control-next,
  .carousel-control-prev,
  ngb-carousel.carousel div.carousel-inner {
    height: 260px;
  }

  .add-post_wrapper {
    width: 90%;
  }

}

@media only screen and (max-width : 601px) {
  .user-button {
    width: 280px;
    &__name {
      width: 155px;
    }
  }
  .logo {
    margin-right: 0;
    margin-left: 5px;
    width: 35px;
  }
  .s-content {
    product-item {
      width: 48%;
      height: 150px;
      margin: 0 1% 10px 1%;
      &:nth-child(4n+1){
        margin-left: 1%
      }
    }
  }


  .single-item {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    
  }

  .single-item__background,
  .single-item__description {
    width: 400px;
    height: 400px;
  }  
  .single-item__background {
    margin-bottom: 30px;
  }
  .carousel-control-next,
  .carousel-control-prev,
  ngb-carousel.carousel div.carousel-inner {
    height: 400px;
  }

  .add-post_wrapper {
    span,
    div {
      font-size: 0.9em;
    }
  }

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .header {
    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .logo {
      margin-left: 20px;
      width: 100px;
    }
    .user-button {
      flex-grow: 1;
      margin-left: 22px;
      width: 100px;
      padding: 0 10px;
      &__img {
        display: none;
      }
    }
    .search-form {
      order: 3;
      flex-grow: 1;
      margin-left: 0;
    }

  }

  .single-item__background,
  .single-item__description {
    width: 320px;
    height: 320px;
  }  
  .single-item__background {
    margin-bottom: 30px;
  }
  .single-item__description {
    font-size: 0.9em
  } 

 
  .carousel-control-next,
  .carousel-control-prev,
  ngb-carousel.carousel div.carousel-inner {
    height: 320px;
  }

  .add-post_wrapper {
    width: 95%;
    span,
    div {
      font-size: 0.9em;
    }
  }



}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}



