@import "reset";
@import "media";


@import '~bootstrap/scss/bootstrap.scss';

body{
  display: flex;
  flex-direction: column;
}


product-list {
  flex-grow: 1;
  overflow-y: scroll;
}
product-list::-webkit-scrollbar {
  width: 0;
}
product-list {
  -ms-overflow-style: none;
}
sellit-header {
  width: 100%;
  min-height: 150px;
  position: relative;
}


button:active, button:focus, input {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
sellit-login-page {
  

}

single-page {  
  flex-grow: 1;
}

.red-color {
  color: #fd2049;
}




//-----------------openSvg
.logo { 
  .path-1 {
    fill:#a9e4e8;
  }
  .path-2-main {
    fill: $main_color;
    transition: all $main_time;
  }  



  &:hover { 
    .path-2-main {
      stroke: $dark-color;
      stroke-width: 1px;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 4s linear forwards;
      fill: #fff;
    }
    .path-1 {
      fill:#fff;
    }
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

}


.profile_settings-icon{
  text-align: center;
    svg {
      fill: $dark-color;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: $main-time;
    &:hover {
      transform: rotateZ(37deg)
    }

  }
}

.carousel {
  div.carousel-inner {
    height: 500px;
    .carousel-item {
      height: 100%;
    }
  }
}

//-----------------closeSvg


/*button-scrolltop {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 70px;
  right: 24px;
  background: #fff;
  color: #ccc;
} */

//========== header

//========== header


//========== main-content

//========== end main-content

//========== single-page

  //========== end slider single-page
//========== end single-page


//========== login-page



//========== end login-page

//========== footer

//========== end footer