@import "reset";
@import "media";

//@import '~bootstrap/scss/bootstrap.scss';

body{
  display: flex;
  flex-direction: column;
}


product-list {
  flex-grow: 1;
  overflow-y: scroll;
}
product-list::-webkit-scrollbar {
  width: 0;
}
product-list {
  -ms-overflow-style: none;
}
sellit-header {
  width: 100%;
  min-height: 150px;
  position: relative;
}


button:active, button:focus, input {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
sellit-login-page {
  

}

single-page {  
  flex-grow: 1;
}

.red-color {
  color: #fd2049;
}



/*button-scrolltop {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 70px;
  right: 24px;
  background: #fff;
  color: #ccc;
} */

//========== header

//========== header


//========== main-content

//========== end main-content

//========== single-page

  //========== end slider single-page
//========== end single-page


//========== login-page



//========== end login-page

//========== footer

//========== end footer