@import "../../../styles/_vars.scss";
@import "../../../styles/_media.scss";

.button-scrolltop {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid $main-color;
  position: fixed;
  bottom: 60px;
  cursor: pointer;
  font-size: 19px;
  right: 20px;
  color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  transition: $main-time;
  i {
    position: relative;
  }
  &:hover {
    color: #fff;
    background-color: $main-color; 
  }
}

