<form [formGroup]="signUpForm" (submit)="signUp($event, signUpForm)" class="s-login_form">

    <input type="text" name="email" [formControl]="signUpForm.get('email')" placeholder="Email">
    <input type="text" name="name" [formControl]="signUpForm.get('username')" placeholder="Name">
    <input type="text" name="password" [formControl]="signUpForm.get('password')" placeholder="Password">
    <input type="text" name="password_confirm" [formControl]="signUpForm.get('password_confirm')" placeholder="Next one password"><br
    />
    <input type="phone" name="phone" [formControl]="signUpForm.get('phone')" placeholder="Phone number">
    <div class="s-login_form-address-group" formGroupName="address">
        <input type="text" name="country" [formControl]="signUpForm.get('address').get('country')" placeholder="Country">
        <input type="text" name="city" [formControl]="signUpForm.get('address').get('city')" placeholder="City">
    </div>


    <button type="submit">Registration</button>
</form>