@import "../../../styles/_vars.scss";

img {
    width: 100px;
}
.profile {
    width: 380px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -380px;    //ddddddddddddddddddddddddddddddddddddddddddddddddddddddddd - 380px
    z-index: 50;
    justify-content: flex-end;
    transition: all $main-time;
    &_inner {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }
    &_title{
        font-size: 2em;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    &_img {
        width: 100px;
        height: 100px; 
        position: relative; 
        margin-bottom: 10px;
        &--wrapper {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            &:hover {
                .profile_img-change {
                    bottom: 0;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }       
        &-change {
            transition: all $main-time;
            position: absolute;
            bottom: -50px;
            right: 0;
            width: 100%;
            height: 35%;
            background-color: $main-color;
            text-align: center;
            cursor: pointer;
                opacity: .8;
            span {
                display: inline-block;
                width: 80%;
                font-size: 0.9em;
            }
            &:hover {
                opacity: 1;
            }
            &--popup {
                position: absolute;
                top: -200px;
                width: 100%;
                height: 200px;
                background-color: #fff;
                background: url('../../../assets/img/bg_pattern.png');
                z-index: 11;
                transition: all $main-time;
                .add-photo {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;     
                    align-items: center;  
                    transition: all $main-time;             
                    label {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        font-size: 1em;
                        width: 100px;
                        span {
                            display: flex;
                            text-align: center;
                            align-items: center;
                            margin: 20px auto 0;  
                            cursor: pointer;
                            background: $main-color; 
                            width: 100px;
                            height: 100px;
                        }
                        input[type=file] {
                            position: absolute;
                            top: 0;
                            opacity: 0
                        }
                        
                        #change_avatar-img {
                            position: absolute;
                            width: 100px;
                            height: 100px;
                            top: 20px;
                            left: calc(50% - 50px);
                            cursor: pointer;
                            z-index: 12;
                        }

                    }
                    button {
                        margin: 20px auto 0;
                        width: 100px;
                        height: 30px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        transition: all $main-time;
                        &:hover {
                            background-color: $main-color;
                            color: #fff;
                        }
                    }
                }
                .close-popup {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 2px 4px;
                    color: red;
                    cursor: pointer;
                    transition: all $main-time;
                    &:hover {
                        background-color: red;
                        color: #fff;

                    }
                    &:active {
                        box-shadow: inset 2px 2px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    } 
    &_online--status {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #00c000;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        z-index: 10;
    }  
    &_name {
        font-size: 1.325em;
    }
    &_purchases {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 33%;
            min-height: 30px;
            padding: 0 4.5%;
            margin-bottom: 2px;
            font-weight: bold;
            font-size: 1.2em;

        }
        .profile_purchases--title {            
            font-weight: normal;
            font-size: 0.9em;
        }        
    }
    &_sales {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        width: 100%;
        position: relative;
        &:before {
            content: '';
            width: 60%;
            height: 1px;
            position: absolute;
            left: 20%;
            top: -20px;
            background-color: #fff;
        }

        div {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        li {
            margin-bottom: 5px;
            font-size: 0.9em;
        }
    }
    &_close {
        position: absolute;
        left: 0;
        top: calc( 50% - 30px );
        &:hover {
            cursor: pointer;
            svg {
                transition: all $main-time;
                fill: black;
            }
        }
        &--triangle-top {
            width: 0;
            height: 0;
            border-top: 10px solid $main-color;
            border-left: 30px solid #fff;
        }
        &--center{
            display: flex;
            width: 30px;
            height: 40px;
            background-color:#fff;
            justify-content: center;
            svg {
                align-self: center;
                height: 20px;
                width: auto;
                line-height: 40px;
                fill: $dark-color;
            }
        }
        &--triangle-bot {
            width: 0;
            height: 0;
            border-bottom: 10px solid $main-color;
            border-left: 30px solid #fff;
        }
    }
    &_settings {
        width: 100%;
        margin-top: 20px;
        &-icon{
            text-align: center;
            svg {
                fill: $dark-color;
                width: 40px;
                height: 40px;
                cursor: pointer;
                transition: $main-time;
                &:hover {
                    transform: rotateZ(37deg)
                }                
            }
        }       
    }

    &_lastpost {
        margin-top: 20px;     
        width: 300px;
        h4 {
            text-align: center;
            font-size: 1.2em;   
            margin-bottom: 10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            li {
                display: flex;  
                justify-content: space-between;  
                align-items: center;
                height: 40px;
                border: 1px solid #fff;
                margin-bottom: 5px;
                div{
                    display: flex;  
                    width: 130px;
                    height: 100%;
                    margin-right: 10px;
                    overflow: hidden;
                    align-items: center;                   
                }       
                div:first-child{
                    width: 40px;
                    position: relative;
                    img{
                        position: absolute;
                        left: calc(50% - 100%);
                        top: calc(50% - 100%);
                    }
                }       
                div:nth-child(3){
                    width: 70px;
                    position: relative;
                    img{
                        position: absolute;
                        left: calc(50% - 100%);
                        top: calc(50% - 100%);
                    }
                }       
                div:first-child{
                    width: 40px;
                    position: relative;
                    img{
                        position: absolute;
                        left: calc(50% - 100%);
                        top: calc(50% - 100%);
                    }
                }       
                span {
                    display: inline-block;
                    width: 30px;
                    text-align: center;
                    cursor: pointer;
                    -webkit-transition:  all $main-time;
                    transition: all $main-time;
                    &:hover {
                        color: $dark-color;
                    }
                }                
            }
        }        
    }
    &_change-password {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            background-color: transparent;
            border: none;
            border-bottom: 3px solid #f2f2f2;
            font-size: .9em;
            color: $dark-color;
            width: 240px;
            padding-left: 10px;
        }
        input::-webkit-input-placeholder { color: #f2f2f2; }
        input:-moz-placeholder { color: #f2f2f2; }
        button {
            margin: 10px auto 0;
            width: 140px;
            height: 30px;
            border: none;
            background-color: transparent;
            border: 1px solid $dark-color;
            cursor: pointer;
            transition: all $main-time;
            font-size: .9em;
            &:hover {
                background-color: $dark-color;
                color: #fff;
            }
        }

    }
}

