<div class="profile" id="profile">
    <div class="profile_inner">

        <div class="profile_title">
            <h3>My Sellit</h3>
        </div>
        <div class="profile_img">
            <div class="profile_img--wrapper">
                <img src="{{onlineUser?.avatarProfile}}" alt="" *ngIf="onlineUser?.avatarProfile; else default_avatar">
                <ng-template #default_avatar>
                    <img src="../../assets/img/userLogin.svg" alt="">
                </ng-template>

                <div class="profile_img-change" (click)="openPopup()">
                    <span>Change photo</span>
                </div>

            </div>
            <div class="profile_online--status"></div>
        </div>
        <div class="profile_img-change--popup" id="profile_img-change--popup">

            <form [formGroup]="addAvatarForm" (submit)="addAvatar($event, formAdd)" class="add-photo" #formAdd='ngForm'>
                <div class="profile_settings-upload">
                    <label>
                        <span id="change_avatar">Choose avatar</span>
                        <img id="change_avatar-img" src="" alt="">
                        <input type="file" name="profile_photo" (change)="changeListenerImg($event)"/>
                    </label>
                </div>

                <button type="submit">Add avatar</button>
            </form>
            <span class="close-popup" (click)="closePopup()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
        </div>
        <div class="profile_name">{{currentUser?.username}}</div>
        <ul class="profile_purchases">
            <li class="profile_purchases--title">Продаж за месяц</li>
            <li class="profile_purchases--title">Продаж за всё время</li>
            <li class="profile_purchases--title">Выручка</li>
            <li>12</li>
            <li>216</li>
            <li>10340 $</li>
        </ul>

        <ul class="profile_sales">
            <div>Лучшие продажи</div>
            <li>Котушка-мокрушка</li>
            <li>Зверь едет в тверь</li>
            <li>Заец азиат уходит в закат</li>
        </ul>

        <div class="profile_lastpost">
            <h4>Last posts</h4>
            <ul>
                {{post?.image}}
                <li *ngFor="let post of postById">
                    <div class="profile_lastpost-img"><img [src]="post.image" alt="Post photo"> </div>
                    <div class="profile_lastpost-title">{{post.title| bcRound:13}} </div>
                    <div class="profile_lastpost-price">{{post.price}} </div>
                    <span class="profile_lastpost-close">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>

        </div>

        <div class="profile_close" (click)="onClickedExit()">
            <div class="profile_close--triangle-top"></div>
            <div class="profile_close--center">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 898.3 898.3">
                    <style>

                    </style>
                    <polygon points="120.2 882.5 553.6 449.2 120.2 15.8 0 136 313.2 449.2 0 762.3 " class="a" />
                    <polygon points="344.7 762.3 464.9 882.5 898.3 449.2 464.9 15.8 344.7 136 657.9 449.2 " class="a" />
                </svg>
            </div>
            <div class="profile_close--triangle-bot"></div>
        </div>

        <div class="profile_settings">

            <div class="profile_settings-icon" [innerHtml]="settingsIcon | safe:'html'">

            </div>
            <form class="profile_change-password" [formGroup]="changePasswordForm" (submit)="changePassword($event, changePasswordForm.value)">
                <input type="password" name="newPassword1" placeholder="New password" [formControl]="changePasswordForm.get('newPassword1')">
                <input type="password" name="newPassword2" placeholder="Confirm" [formControl]="changePasswordForm.get('newPassword2')">
                <input type="password" name="oldPassword" placeholder="Old password" [formControl]="changePasswordForm.get('oldPassword')">
                <button type="submit">Change password</button>
            </form>

        </div>



    </div>
</div>