@import "../../../styles/_vars.scss";


.footer {
  width: 100%;
  min-height: 50px;
  background-color: $main-color;
  text-align: center;
  position: fixed;
  bottom: 0;
  //border-top: 10px solid #fff;
  z-index: 10;
  &__text {
    font-size: 1.125em;
    font-family: $main-font;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
  }
}